<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Test Task</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isCollapsed = !isCollapsed" data-target="#navbar"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/client1" routerLinkActive="active">Client 1</a>
      <a class="nav-item nav-link" routerLink="/client2" routerLinkActive="active">Client 2</a>
    </div>
  </div>
</nav>
<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>